header {
    border-bottom: 1px solid rgb(187, 187, 187);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-size: 28px;
    color: black;
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.navLink {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 50%;
}